.page {
  width: 100%;
}

.shared__cta__button {
  height: 45px;
  width: 165px;
  background-image: linear-gradient(90deg, #31CF70 4.85%, #2CB9CB 100%);
  border-radius: 89px;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.shared__cta__button:active {
  background-image: linear-gradient(90deg, #84E1A7 4.85%, #81D6DB 100%);
}
